'.text.latte':
  'editor':
    'increaseIndentPattern': '{(block|snippet|while|label|for(m|each)?|if(set|Current)?).*}'
    'decreaseIndentPattern': '{/(block|snippet|while|label|for(m|each)?|if(set|Current)?)}'
